{:paths ["src" "resources"]
 :deps {com.microsoft/durabletask {:local/root "./proto"}
        com.appsflyer/pronto {:mvn/version "2.1.2"}
        io.grpc/grpc-netty-shaded {:mvn/version "1.46.0"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}}
 :aliases
 {:dev {:extra-paths ["dev-src"]
        :extra-deps {com.lambdaisland/classpath {:mvn/version "0.4.44"}
                     org.slf4j/slf4j-api {:mvn/version "2.0.7"}
                     org.slf4j/slf4j-simple {:mvn/version "2.0.7"}
                     io.github.clojure/tools.build {:mvn/version "0.9.6"}}}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
                   :ns-default build}}}
