{:paths ["target/classes"]
 :deps {com.google.protobuf/protobuf-java {:mvn/version "3.24.0"}
        io.grpc/grpc-protobuf {:mvn/version "1.46.0"}
        io.grpc/grpc-stub {:mvn/version "1.46.0"}
        org.apache.tomcat/annotations-api {:mvn/version "6.0.53"}}
 :deps/prep-lib {:ensure "target/classes"
                 :alias :build
                 :fn prep-lib}
 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
                   :ns-default build}}}
